In [560]:
# IMPORTAÃO DAS BIBLIOTECAS
import pandas as pd
import statistics as sts
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from yellowbrick.regressor import ResidualsPlot
import statsmodels.formula.api as sm

In [561]:
# <-- IMPORTAÇÃO DOS DADOS
dados = pd.read_csv(r'Dados\AmesHousing.csv')

___
### EDA -> Exploratory data analysis (Análise exploratória de dados)

##### Exploração da base de dados em busca de explorar detalhes ocultos na estrutura dos dados, identificar falhas ou comportamentos anormais, descobrir tendências e variáveis relevantes no conjunto e determinar a modelagem formal a ser utilizada.

In [562]:
# VISUALIZAÇÃO DOS DADOS
dados.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [563]:
# DIMENSÃO DOS DADOS
dados.shape

(2930, 82)

In [564]:
# NOMES DAS COLUNAS
dados.columns

Index(['Order', 'PID', 'MS SubClass', 'MS Zoning', 'Lot Frontage', 'Lot Area',
       'Street', 'Alley', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add', 'Roof Style',
       'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type',
       'Mas Vnr Area', 'Exter Qual', 'Exter Cond', 'Foundation', 'Bsmt Qual',
       'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin SF 1',
       'BsmtFin Type 2', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF',
       'Heating', 'Heating QC', 'Central Air', 'Electrical', '1st Flr SF',
       '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Bsmt Full Bath',
       'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr',
       'Kitchen AbvGr', 'Kitchen Qual', 'TotRms AbvGrd', 'Functional',
       'Fireplaces', 'Fireplace Qu', 'Garage Type', 'Garage Yr Blt',
       'Garage Finish', 'Garage Cars', 'Garage Area', 'Garage Qual',
       'Garage Cond', 'Paved Drive', 'Wood Deck SF', 'Open Porch SF',
       'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Pool QC',
       'Fence', 'Misc Feature', 'Misc Val', 'Mo Sold', 'Yr Sold', 'Sale Type',
       'Sale Condition', 'SalePrice'],
      dtype='object')

In [565]:
# ESTATISTICAS DA BASE DE DADOS
dados.describe()

,Order,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
count,2930.00000,2.930000e+03,2930.000000,2440.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2907.000000,...,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000
mean,1465.50000,7.144645e+08,57.387372,69.224590,10147.921843,6.094881,5.563140,1971.356314,1984.266553,101.896801,...,93.751877,47.533447,23.011604,2.592491,16.002048,2.243345,50.635154,6.216041,2007.790444,180796.060068
std,845.96247,1.887308e+08,42.638025,23.365335,7880.017759,1.411026,1.111537,30.245361,20.860286,179.112611,...,126.361562,67.483400,64.139059,25.141331,56.087370,35.597181,566.344288,2.714492,1.316613,79886.692357
min,1.00000,5.263011e+08,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,12789.000000
25%,733.25000,5.284770e+08,20.000000,58.000000,7440.250000,5.000000,5.000000,1954.000000,1965.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,129500.000000
50%,1465.50000,5.354536e+08,50.000000,68.000000,9436.500000,6.000000,5.000000,1973.000000,1993.000000,0.000000,...,0.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,160000.000000
75%,2197.75000,9.071811e+08,70.000000,80.000000,11555.250000,7.000000,6.000000,2001.000000,2004.000000,164.000000,...,168.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,213500.000000
max,2930.00000,1.007100e+09,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,...,1424.000000,742.000000,1012.000000,508.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000,755000.000000

In [566]:
# # INFORMAÇÕES SOBRE TIPO DE DADOS, QTD DE DADOS, DADOS NULOS, PRESENTES NA BASE DE DADOS
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 82 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order            2930 non-null   int64
 1   PID              2930 non-null   int64
 2   MS SubClass      2930 non-null   int64
 3   MS Zoning        2930 non-null   object
 4   Lot Frontage     2440 non-null   float64
 5   Lot Area         2930 non-null   int64
 6   Street           2930 non-null   object
 7   Alley            198 non-null    object
 8   Lot Shape        2930 non-null   object
 9   Land Contour     2930 non-null   object
 10  Utilities        2930 non-null   object
 11  Lot Config       2930 non-null   object
 12  Land Slope       2930 non-null   object
 13  Neighborhood     2930 non-null   object
 14  Condition 1      2930 non-null   object
 15  Condition 2      2930 non-null   object
 16  Bldg Type        2930 non-null   object
 17  House Style      2930 non-null   object
 18  Overall Qual     2930 non-null   int64
 19  Overall Cond     2930 non-null   int64
 20  Year Built       2930 non-null   int64
 21  Year Remod/Add   2930 non-null   int64
 22  Roof Style       2930 non-null   object
 23  Roof Matl        2930 non-null   object
 24  Exterior 1st     2930 non-null   object
 25  Exterior 2nd     2930 non-null   object
 26  Mas Vnr Type     2907 non-null   object
 27  Mas Vnr Area     2907 non-null   float64
 28  Exter Qual       2930 non-null   object
 29  Exter Cond       2930 non-null   object
 30  Foundation       2930 non-null   object
 31  Bsmt Qual        2850 non-null   object
 32  Bsmt Cond        2850 non-null   object
 33  Bsmt Exposure    2847 non-null   object
 34  BsmtFin Type 1   2850 non-null   object
 35  BsmtFin SF 1     2929 non-null   float64
 36  BsmtFin Type 2   2849 non-null   object
 37  BsmtFin SF 2     2929 non-null   float64
 38  Bsmt Unf SF      2929 non-null   float64
 39  Total Bsmt SF    2929 non-null   float64
 40  Heating          2930 non-null   object
 41  Heating QC       2930 non-null   object
 42  Central Air      2930 non-null   object
 43  Electrical       2929 non-null   object
 44  1st Flr SF       2930 non-null   int64
 45  2nd Flr SF       2930 non-null   int64
 46  Low Qual Fin SF  2930 non-null   int64
 47  Gr Liv Area      2930 non-null   int64
 48  Bsmt Full Bath   2928 non-null   float64
 49  Bsmt Half Bath   2928 non-null   float64
 50  Full Bath        2930 non-null   int64
 51  Half Bath        2930 non-null   int64
 52  Bedroom AbvGr    2930 non-null   int64
 53  Kitchen AbvGr    2930 non-null   int64
 54  Kitchen Qual     2930 non-null   object
 55  TotRms AbvGrd    2930 non-null   int64
 56  Functional       2930 non-null   object
 57  Fireplaces       2930 non-null   int64
 58  Fireplace Qu     1508 non-null   object
 59  Garage Type      2773 non-null   object
 60  Garage Yr Blt    2771 non-null   float64
 61  Garage Finish    2771 non-null   object
 62  Garage Cars      2929 non-null   float64
 63  Garage Area      2929 non-null   float64
 64  Garage Qual      2771 non-null   object
 65  Garage Cond      2771 non-null   object
 66  Paved Drive      2930 non-null   object
 67  Wood Deck SF     2930 non-null   int64
 68  Open Porch SF    2930 non-null   int64
 69  Enclosed Porch   2930 non-null   int64
 70  3Ssn Porch       2930 non-null   int64
 71  Screen Porch     2930 non-null   int64
 72  Pool Area        2930 non-null   int64
 73  Pool QC          13 non-null     object
 74  Fence            572 non-null    object
 75  Misc Feature     106 non-null    object
 76  Misc Val         2930 non-null   int64
 77  Mo Sold          2930 non-null   int64
 78  Yr Sold          2930 non-null   int64
 79  Sale Type        2930 non-null   object
 80  Sale Condition   2930 non-null   object
 81  SalePrice        2930 non-null   int64
dtypes: float64(11), int64(28), object(43)
memory usage: 1.8+ MB

##### Ja podemos notar que existe colunas que contam com muitos dados nulos. Isso atrapalha na hora de treinar o modelo.

In [567]:
# ANÁLISE DE DADOS NULOS
dados_nulos = pd.DataFrame(dados.isnull().sum(), columns=['Dados Nulos'])
dados_nulos.loc[dados_nulos['Dados Nulos'] > 50]

                Dados Nulos
Lot Frontage            490
Alley                  2732
Bsmt Qual                80
Bsmt Cond                80
Bsmt Exposure            83
BsmtFin Type 1           80
BsmtFin Type 2           81
Fireplace Qu           1422
Garage Type             157
Garage Yr Blt           159
Garage Finish           159
Garage Qual             159
Garage Cond             159
Pool QC                2917
Fence                  2358
Misc Feature           2824

##### Podemos Analisar que existe muitas colunas com dados faltantes e algumas delas com quase nem dado preenchido, essa colunas vão ser excluidas do nosso estudo posteriormente e as que tem poucos dados nulos vão ser tratadas.

___
### Limpeza e Tratamento da Base de Dados
##### Momento que limpamos as colunas que contem varios dados nulos, tratamos as colunas que contem dado faltantes e concertamos as anomalias para fazer o treinamento do modelo.

In [568]:
# REMOÇÃO DAS COLUNAS QUE TEM MUITOS DADOS FALTANTES
dados = dados.drop(['Lot Frontage', 'Alley', 'Fireplace Qu', 'Pool QC', 'Fence', 'Misc Feature'], axis=1)

In [569]:
# ANÁLISE DE DADOS NULOS
dados_nulos = pd.DataFrame(dados.isnull().sum(), columns=['Dados Nulos'])
dados_nulos = dados_nulos.loc[dados_nulos['Dados Nulos'] > 0]

In [570]:
# TRATAMENTO DAS COLUNAS COM POUCOS DADOS NULOS
for i in dados_nulos.index:
    dados[i].fillna(sts.mode(dados[i]), inplace=True)

In [571]:
# CHECANDO SE AINDA EXISTE DADOS NULOS NOVAMENTE
dados_nulos = pd.DataFrame(dados.isnull().sum(), columns=['Dados Nulos'])
dados_nulos.loc[dados_nulos['Dados Nulos'] > 0]

Empty DataFrame
Columns: [Dados Nulos]
Index: []

##### Todos os dados nulos foram removidos ou tratados da nossa base de dados.

___
### Criação do Modelo de Previsão
##### Agora vamos criar o modelo que vai prever os valores das casas de acordo com seus atributos.

In [572]:
dados.shape[1]

76

In [573]:
# SEPARAÇÃO DOS DADOS EM PREVISORES E CLASSES
previsores = dados.iloc[:, 0:dados.shape[1]-1].values
classe = dados.iloc[:, dados.shape[1]-1].values

In [574]:
# TRANSFORMAÇÃO DOS ATRIBUTOS CATEGÓRICOS EM NUMÉRICOS
for i in range(previsores.shape[1]):
    if type((previsores[0:1, i])[0]) != int:
        labelencoder = LabelEncoder()
        previsores[:, i] = labelencoder.fit_transform(previsores[:, i])

In [575]:
# SEPARAÇÃO DOS DADOS EM TREINO E TESTE (70%/30%)
X_treinamento, X_teste, y_treinamento, y_teste = train_test_split(previsores,
                                                                  classe,
                                                                  test_size=.30)

In [579]:
# CRIAÇÂO E TREINAMENTO DO MODELO
modelo = LinearRegression()
modelo.fit(X_treinamento, y_treinamento)

LinearRegression()

##### Com o modelo criado podemos agora fazer previsões, irei utilizar a primeira linha da tabela para fazer a previsão do seu valor e compará-la com o seu valor real.

In [580]:
# PREVISÃO DO MODELO X VALOR REAL
previsao = modelo.predict([previsores[0]])[0]
valor_real = dados['SalePrice'][0]
print('PREVISÃO:', round(previsao,2), '\nVALOR REAL:', valor_real)

PREVISÃO: 207254.91
VALOR REAL: 215000

##### Podemos ver que o modelo chegou bem próximo do valor real da casa, vamos fazer um novo teste, utilizando outra casa da nossa base de dados e fazer a mesma comparação.

In [578]:
# PREVISÃO DO MODELO X VALOR REAL
previsao = modelo.predict([previsores[25]])[0]
valor_real = dados['SalePrice'][25]
print('PREVISÃO:', round(previsao,2), '\nVALOR REAL:', valor_real)

PREVISÃO: 131833.71
VALOR REAL: 142000

##### Nosso modelo continua chegando perto dos valores reais de vendas das casas.